@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
font-family: SF Pro Display, Helvetica Neue, Arial;  
}
p {
font-size: 10pt;
}
.background {
background-color: white;
padding: 12px;
}
